div.superlink{
	color: white;
	font-size:13px;
	font-family: 'Crete Round', serif;
	width: 1300px;
	margin-left: 50px;
}

p.marge{
	color: orange;
	font-size:13px;
	font-family: 'Crete Round', serif;
	margin-left: auto;
	margin-right: auto;
	
	margin: 0px auto; 
	 width: 1025px;
}

#logo{
	margin-top:6px;
	font-size: 32px; position: absolute; 
	top:0 ;
	left: 50px;
	color: #a20640; font-family: 'Love Ya Like A Sister',cursive; text-shadow: none;
}

ul li{
	list-style: none;
    line-height: 1.2em;
    margin: .05em 0;
    padding: 0 0 0 15px;
    color: #FF6666;
	color: blue;
    font-size: 15px;
}

h3{
color: #a20640;
}
h3 a{
color: #a20640;
}
h3 a:visited{
color: #a20640;
}
h3 a:hover{
color: #fc9453;
}

#h3{
	color: 4996ee; font-family: 'Ubuntu',sans-serif; text-shadow: rgb(255, 255, 255) 5px 5px 0px;
}



a:link {text-decoration: none;}

a:visited {color: #777772; text-decoration: line-through; }

a:hover   {color:red;}
a:active  {color:yellow;}

li:before{ content: '»'; font-size: 20px; color: blue;} 



/*for persistent header*/
.floatingHeader {
 
  position: fixed;
  top: 0;
  visibility: hidden;
}


/*alternate background for ul li */
li { background: #FAFAFA  } 
li:nth-child(odd) { background: #CEE3F6 }

/*header*/
#header
{
	position: relative;
	text-align: center; 	  
	border-bottom:1px solid #eb7429; 
	  background:#fc9453;
	  color: #a20640;
	  padding:10px 20px;
	  position: fixed;
	  top:0; 
	  left:0; 
	  z-index:2000; 
	  width:100%;"
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
		   -moz-box-shadow: 0 8px 6px -6px #ccc;
		        box-shadow: 0 8px 6px -6px #ccc;

}

.shadow {
  -moz-box-shadow:    2px 2px 4px 5px #ccc;
  -webkit-box-shadow: 0.5px 0.5px 3px 4px #ccc;
  box-shadow:         0.5px 0.5px 1px 2px #ccc;
}

