
<div class="container_12">
  <h2>
    Reddit
  </h2>
 
  <div class="grid_6">
   
	<ul>
		<li>
	<a href="http://www.google.com" style="color: black;">You can edit the underlined vagood morning sir 
		what are you doing there this is your morning call lues in this css file,</a>
	<br/>
	   </li>
	   <li>
	<a href="http://www.google.com" style="color: black;">You can edit tsdfsdfasdfsdfadsgasdgsdghe underlined values in this css file,</a>
	<br/>
   	   </li>
	   <li>
	<a href="http://www.google.com" style="color: black;">You can edit the underlined values in this css file,</a>
	<br/>
	   </li>
	</ul>
	
      
   
  </div>
  <!-- end .grid_6 -->
  <div class="grid_6">
    <ul>
		<li>
	<a href="http://www.google.com" style="color: black;">You can edit the underlined vagood morning sir 
		what are you doing there this is your morning call lues in this css file,</a>
	<br/>
	   </li>
	   <li>
	<a href="http://www.google.com" style="color: black;">You can edit the underlined values in this css file,</a>
	<br/>
   	   </li>
	   <li>
	<a href="http://www.google.com" style="color: black;">You can edit the underlined values in this css file,</a>
	<br/>
	   </li>
	</ul>
	
	
  </div>
</div>