<h1 id="logo" align="center">got nerd</h1>

<div class="container_12">
	<div class="grid_6"> 
	<ul>
		<h3>REDDIT</h3>
	 <% size=@hacker.all.size%>
	 <% for i in (11..size)%>
	 <li>
	 <a href="<%= @title.find(i).link %>"> :: <%= @title.find(i).name  %></a>	
	 </li>
	 <% end %>
	</ul>
	</div>
	
	<div class="grid_6">
	<ul>
		<h3>Hacker News</h3>
	<% size=@hacker.all.size%>
	<% for i in (1..size)%>
	  <li>
	  <a href="<%= @hacker.find(i).link %>"> :: <%= @hacker.find(i).name  %></a>
	  </li>	
	<% end %>
	</ul>		
	</div>
</div>



