<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Hello</p>
<p><%= @science%></p>
<a href="http://www.google.com">hello</a>

<% size=@title.size%>
<% for i in (10..size-1)%>
<p><a href="<%= @title[i].link %>"><%= @title[i].id%> :: <%= @title[i].name %></a></p>	
<% end %>




