<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Hello</p>
<p><%= @science%></p>
<a href="http://www.google.com">hello</a>

<% size=@title.all.size%>
<% for i in (11..size)%>
<p><a href="<%= @title.find(i).link %>"><%= @title.find(i).id%> :: <%= @title.find(i).name %></a></p>	
<% end %>




